.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 92vh;
  padding: 2rem;
  background-color: #f8f9fa;
  color: #333;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.home h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.home-footer p {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
}
